<h2 mat-dialog-title>Delete Course</h2>
<mat-dialog-content>
  <p>Do you really want to delete "{{data.courseName}}"?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button
          mat-dialog-close
          class="cancel-remove">No</button>
  <button mat-raised-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          color="warn">Yes</button>
</mat-dialog-actions>
