.cancel-remove {
  background-color: #28a745;
  color: #fff;
}

.mat-dialog-actions {
  justify-content: space-around;
  width: 60%;
  margin: 25px auto 0;
}

.mat-dialog-container {
  padding: 24px 24px 0;
}
