.login-container {
  width: 500px;
  height: 300px;
  border: 2px solid #6c757dad;
  border-radius: 5px;
}

.title {
  border-bottom: 2px solid rgba(0,0,0,.12);
  margin: 0;
  padding: 15px 0 10px 15px;
}

.input {
  display: block;
}

.actions-wrapper {
  padding: 30px 50px 0;
}
