<div class="login-container">
  <h4 class="title">Login</h4>
  <div class="actions-wrapper">
    <mat-form-field class="input">
      <input matInput placeholder="Please enter user name *" [(ngModel)]="model.userName">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Please enter password *" type="password" [(ngModel)]="model.password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </div>
</div>
