<div>
  <mat-form-field >
    <input matInput type="number"
           placeholder="Duration"
           [(ngModel)]="duration"
           (ngModelChange)="onDurationChange($event)" min="0" >
  </mat-form-field>
  <span>{{duration|duration}}</span>
</div>
