<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div>
      <app-fake-logo></app-fake-logo>
      <a class="navbar-brand h1" routerLink="courses">Let's study!</a>
    </div>
    <div class="header-actions" *ngIf="isAuthenticated">
      <span class="user-name">{{currentUser.userName}}</span>
      <button type="button" class="btn btn-outline-warning btn-sm" (click)="logout()">Log Out</button>
    </div>
  </nav>
</header>
