<div *ngIf="!coursesItems.length" class="empty-list border">No data. Feel free to add new course</div>
<app-course-item *ngFor="let course of (coursesItems | orderBy)"
                 [courseItem]="course"
                 (deleteRequest)="removeCourse($event)"
                 (editRequest)="editCourse($event)">
</app-course-item>
<button *ngIf="coursesItems.length" (click)="loadMore()" class="btn-primary btn-lg btn-block load-more">Load More</button>
