<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <a class="breadcrumb-link" routerLink="/courses">Courses</a>
    </li>
    <li *ngIf="isEditPage">
      <span class="divider">/</span><span>{{courseTitle}}</span>
    </li>
  </ol>
</nav>
