<div class="d-flex align-items-center justify-content-between course-container" [appAlternateBorder]="courseItem.date">
  <div class="margin-right-25">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <span class="h5 course-title">{{courseItem.name | uppercase}}</span>
        <app-icon [ngClass]="{'top-rated': courseItem.isTopRated}" iconName="star"></app-icon>
      </div>
      <div class="d-flex align-items-center">
        <span class="course-duration">{{courseItem.length | duration}}</span>
        <span class="course-date">{{courseItem.date | date:"MM/dd/y"}}</span>
      </div>
    </div>
    <p class="course-description">{{courseItem.description}}</p>
  </div>
  <div class="actions-container justify-content-around d-flex flex-column">
    <button class="btn btn-sm btn-success course-edit" routerLink="/courses/{{this.courseItem.id}}">Edit</button>
    <button class="btn btn-sm btn-danger course-delete" (click)="onDeleteClick()">Delete</button>
  </div>
</div>
