.course-container {
  padding: 10px 20px;
  margin: 15px 0;
  border: 2px #d3d3d3 solid;
  border-radius: 3px;
  height: 110px;
  box-sizing: content-box;
}

.course-date {
  margin-left: 10px;
}

.course-title {
  margin: 0;
}

.actions-container {
  height: 100%;
}

.actions-container .btn {
  max-width: 125px;
  min-width: 80px;
}

::ng-deep .my-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

::ng-deep .top-rated .my-icon svg {
  fill: orange;
}

.margin-right-25 {
  margin-right: 25px;
  width: 100%;
}
