<!--The content below is only a placeholder and can be replaced.-->
<app-header [isAuthenticated]="isLoggedIn" [currentUser]="currentUser"></app-header>
<app-breadcrumb *ngIf="isLoggedIn"></app-breadcrumb>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
