<app-toolbox (filterCourses)="filter($event)" (addCourse)="toggleAddEditMode()"></app-toolbox>
<app-courses-list (deleteRequest)="removeCourse($event)" [coursesItems]="coursesItems" (editRequest)="toggleAddEditMode($event)"></app-courses-list>
