<div *ngIf="course" class="add-course-container">
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="course.name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="course.description"></textarea>
  </mat-form-field>
  <app-date-picker [(date)]="course.date"></app-date-picker>
  <app-duration [(duration)]="course.length"></app-duration>
  <div class="actions-container">
    <button mat-raised-button
            class="btn-save"
            (click)="onSaveClick()">Save</button>
    <button mat-raised-button
            class="btn-cancel"
            routerLink="/courses">Cancel</button>
  </div>
</div>
