button {
  color: #fff;
}

.btn-save {
  background-color: #28a745;
}

.btn-cancel {
  background-color: darkgray;
}

.add-course-container {
  border: 2px solid #6c757dad;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}

.mat-form-field {
  display: block;
}

.actions-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
