<div class="toolbox-container">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <input type="text"
             class="search"
             placeholder="Name, fragment or date"
             [(ngModel)]="searchValue">
      <button class="btn btn-primary btn-sm" (click)="searchCourse()">Search</button>
    </div>
    <button class="btn btn-sm btn-info course-add" routerLink="/courses/new">Add course</button>
  </div>
</div>
