/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app-root {
  height: 100%;
}
app-root {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  padding: 0 20px;
  margin-bottom: 15px;
}
.footer {
  flex-shrink: 0;
}

p {
  margin-bottom: 0;
}
